# This is a CODEOWNERS file.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @1000do and @kien4nt
# will be requested for review on every pull request.
*       @kien4nt @Phuoctai228 @1000do